
#teste-ii .container {
    clear: both;
    background-color: #24a943;
    height: 100%;
    padding: 20px;
}

form {
    display: inline;
 }

input {
    width: 100%;
    border: none;
}

label {
    border: none;
    margin-top: 1%;
    background-color: lightgreen;
    padding-left: 5px;
    padding-right: 5px;
}

form button {
    margin-top: 1%;
}

#teste-ii {
    position: absolute;
    width: 80%;
    height: 70%;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}

